<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/js/script.js" defer></script>
    <title>Тайный Санта</title>
</head>

<body>
    <header>
        <div class="logo" style="width: 50px;">
            <img src="/img/santa-claus.png" alt="" width="50px">
        </div>
        <div class="name" style="position: relative; top: 22vh;">
            <h1>Т <br> А <br> Й <br> Н <br> Ы <br> Й </h1> <br>
            <h1> С <br> А <br> Н <br> Т <br> А </h1>
        </div>

    </header>

    <main>
        <div class="aboutsanta">
            <div class="info">
                <h2 class="H2-standart">Приветствуем вас на нашем сайте!</h2>
                <p class="standart-text">
                    На данном сайте вы можете создать команту для игры в тайного санту. <br>
                    Не знаете правила? Тогда ознакомитесь с ними ;)
                </p>
            </div>

            <div class="rule">
                <h3 class="H3-white">«Тайный Санта»: главное не подарок, главное — процесс</h3>
                <p class="standart-text" style="width: 500px;">
                    В России набирает популярность не так давно пришедшая из западной культуры игра в «Тайного Санту». В
                    ходе опроса на сайте hh.ru 9% респондентов ответили, что в их коллективах принято делать подарки
                    друг
                    другу в процессе этой игры. <br>

                    «Тайного Санту» любят не столько за подарки, сколько за атмосферу подготовки к их раздаче,
                    предвкушение
                    и ощущение праздника во время вручения подарков, если этот момент обыграть творчески и с юмором.
                    Самое
                    ценное в «Тайном Санте» — возможность повеселиться от души и в то же время ближе узнать своих
                    коллег. <br>

                    Правила «Тайного Санты» просты: на листках бумаги пишутся имена сотрудников, которые согласны
                    участвовать в игре, затем бумажки помещают в мешок или коробку, и каждый по очереди вытаскивает
                    чье-то
                    имя. Но так, чтобы остальные не видели, кто кому достался, — это секрет. Вы должны купить подарок
                    тому
                    человеку, чье имя вытянули, — вы его «Тайный Санта». К заранее условленному дню все подарки,
                    подписанные
                    именем адресатов, тайно выкладывают в одном месте (например, в мешок под ёлкой), и каждый забирает
                    свой.
                    Главная задача — угадать после получения подарка, кто был твоим «Сантой».
                </p>
            </div>

            <div class="regist">
                <a href="/registration">
                    <button class="login"> Войти </button>
                </a>
            </div>

        </div>
        <div class="room">
            <a href="/createroom"> <button id="makeroom">Создать комнату для игры</button> </a>
        </div>
        <div class="room">
            <a href="/createroom"> <button id="makeroom">Войти уже в созданую комнату</button> </a>
        </div>
    </main>
</body>

</html>