<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/room.css">
    <script src="/js/room.js" defer></script>
    <title>Комната Тайного Санты</title>
</head>

<body>
    <header>
        <a href="/">
            <div class="logo">
                <img src="/img/santa-claus.png" alt="">
            </div>
        </a>
        <div class="name">
            <h1>Тайный санта</h1> <img src="#" alt="">
        </div>
    </header>

    <main>
        <div class="couples">
        
            <input type="text" placeholder="ФИО" class="name" name="1" id="1"> <input type="text"
                placeholder="Желаемый подарок" class="present" name="1" id="1p"> <br>
            <input type="text" placeholder="ФИО" class="name" name="2" id="2"> <input type="text"
                placeholder="Желаемый подарок" class="present" name="2" id="2p"> <br>
            <input type="text" placeholder="ФИО" class="name" name="3" id="3"> <input type="text"
                placeholder="Желаемый подарок" class="present" name="3" id="3p"> <br>
            <input type="text" placeholder="ФИО" class="name" name="4" id="4"> <input type="text"
                placeholder="Желаемый подарок" class="present" name="4" id="4p"> <br>
            <input type="text" placeholder="ФИО" class="name" name="5" id="5"> <input type="text"
                placeholder="Желаемый подарок" class="present" name="5" id="5p"> <br>
            <input type="text" placeholder="ФИО" class="name" name="6" id="6"> <input type="text"
                placeholder="Желаемый подарок" class="present" name="6" id="6p"> <br>

            <button class="random" id="btn">Сгенерировать пары</button>
        </div>
    </main>

</body>

</html>