input[type="text"]{
    width: 500px;
    height: 30px;
    color: rgb(0,75,6);
    background-color: rgb(47, 145, 145);
    border: 2px solid rgb(59, 58, 88);
}

input[type=radio]:checked + label {
    background-color: rgb(111, 214, 82);
}















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































