/* Шапка */

.a{
    position: fixed;
   }

li{
    float: left;
    margin-left: 10px;
}

ul{
    list-style-type: none;
    width: 1700px;
    margin-top: 30px;
    margin-bottom: 0px;
}



.q{
    margin-left: 900px;
}

.z{
    margin-left: 100px;
}

a{
    text-decoration: none;
    color: aquamarine;
}

.foto{ 
    position: relative;
    height: 100px;     
    width: 500px;     
    z-index: -1;     
    left: 1200px; 
    bottom: 60px;
}

.hah{
    width: 500px;
    height: 100px;
    position: relative;
    z-index: -2;
    right: 450px;
    bottom: 60px;
}

.tera{
    z-index: 1;
    width: 250px;
    position: fixed;
    left: 807px;
}
/* Основа */

body{
    height: 1950px;
    width: 1828px;
    margin: 0px 0px 0px 0px;
    background-color: rgb(29, 29, 51);
}
h2{
    color: rgb(203, 203, 231);
    font-family: Arial;
}

.b{
    height: 1200px;
}

.d{
    height: 700px;
}
/* середина */

.fon{
    z-index: -1000000000000;
    position: relative;
    width: 1859px;
    left: 2px;
}

.geroy{
    position: relative;
    left: 1000px;
    bottom: 910px;
    z-index: -1;
}

.block{
    width: 800px;
    height: 375px;
    border-radius: 5px;
    background-color: rgba(47, 47, 53, 0.7);
    position: relative;
    bottom: 1500px;
    left: 290px;
    z-index: -2;
    padding-top: 25px;
    padding-left: 25px;
}

.Tera{
    font-size: 50px; 
}

p{
    color: aquamarine;
    font-family: Arial;
}


input{
    background-color: blue;
    border-radius: 9px;
    width: 200px;
    height: 50px;
    position: relative;
    left: 25px;
    color:  aquamarine;
    font-size: large;
    font-family: Arial;
}



/* низ */

.R{
    width: 400px;
    font-size: 100px;
    margin: 0px 0px 0px 0px;
    position: relative; 
    top: 100px;
    left: 100px;
    z-index: -1;
}


.geroy2{
    position: relative;
    bottom: px;
    right: 100px;
    z-index: 1;
}

.fon2{
    position: relative;
    bottom: 1000px;
}

.human{
    width: 400px;
    height: 261px;
    border-radius: 10px;
    background-color: rgb(5, 5, 51);
    position: relative;
    left: 500px;
    bottom: 700px;
    padding: 10px;
    padding-left: 20px;
}

.castanics{
    width: 400px;
    height: 261px;
    border-radius: 10px;
    background-color: rgb(5, 5, 51);
    position: relative;
    left: 500px;
    bottom: 650px;
    padding: 10px;
    padding-left: 20px;
}

.amani{
    width: 400px;
    height: 261px;
    border-radius: 10px;
    background-color: rgb(5, 5, 51);
    position: relative;
    left: 950px;
    bottom: 1263px;
    padding: 10px;
    padding-left: 20px;
}

.high{
    width: 400px;
    height: 261px;
    border-radius: 10px;
    background-color: rgb(5, 5, 51);
    position: relative;
    left: 950px;
    bottom: 1210px;
    padding: 10px;
    padding-left: 20px;
}

.baraka{
    width: 400px;
    height: 261px;
    border-radius: 10px;
    background-color: rgb(5, 5, 51);
    position: relative;
    left: 1400px;
    bottom: 1825px;
    padding: 10px;
    padding-left: 20px;
}

.elin{
    width: 400px;
    height: 261px;
    border-radius: 10px;
    background-color: rgb(5, 5, 51);
    position: relative;
    left: 1400px;
    bottom: 1770px;
    padding: 10px;
    padding-left: 20px;
}