li{
     float: right;
    list-style-type: none;
    margin: 10px;
    background-color: tomato;
    padding: 10px;
}
a {
     text-decoration: none;
}
img {
    width: 400px;
    display: block;
    margin: 0px auto;
}
body {
    background-color: gray;
}

.heater, .main, .bottom {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-color: antiquewhite;
}
.heater {
    margin: 5px 10px 100px 10px;
    height: 100px;
}

h2 {
    margin-left: 350px;
}
p {
    width: 450px;
    margin-left: 350px;
}